<div class="container">
  <h1 class="title text-center my-5">URL Shortener</h1>
  <div class="jumbotron">
    <div class="image-container">
      <div class="image"></div>
    </div>
  </div>
  <div class="form-container my-5">
    <h2 class="subtitle text-center" style="color: #C85C8E;">
      SORRY! Please check your link<i class="fa-regular fa-face-sad-tear"></i>
    </h2>
    <div class="btn-container my-4">
      <a href="/" class="back">BACK TO SHORTEN<i class="fa-solid fa-arrow-right px-2"></i></a>
    </div>
  </div>
</div>