<div class="container">
  <h1 class="title text-center my-5">URL Shortener</h1>
  <div class="jumbotron">
    <div class="image-container">
      <div class="image"></div>
    </div>
  </div>
  <div class="form-container my-5">
    <h2 class="subtitle text-center">
      Success! Please use this link:
      <a class="short-url" href="http://localhost:3000/{{ shortUrl }}">http://localhost:3000/{{ shortUrl }}</a>
    </h2>
    <div class="btn-container d-flex justify-content-center my-3">
      <button type="button" class="copy-btn btn px-4" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Copy link">
        <i class="fa-solid fa-link"></i>
      </button>
      <a href="/" class="back">BACK TO SHORTEN<i class="fa-solid fa-arrow-right px-2"></i></a>
    </div>
  </div>
</div>
